            <ul class="top-horizontal">
                <li class="top-menu lefty"><a href="./">About</a></li>
                <li class="top-menu lefty"><a href="./helper">Word Hunt Helper</a></li>
                <!-- <li id="usernameBox" class="top-menu righty"><a id="usernameText" href="javascript:void(0)">{{session.username}}</a></li> -->
            </ul>
