<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <meta charset="utf-8">
        <title>About Word Hunt Helper</title>
    </head>
    <body>
        {{> top_navigation}}
        <h1 align="center">Word Hunt Tools</h1>
        <p>This website was created by 2020rzhan. Last Updated 4/9/2020</p>
    </body>
</html>
